.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-area {
  box-shadow: 1px 1px 5px gray;
  padding: 15px;
  text-align: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-inputs button {
  border: 0;
}

.form-inputs button:disabled {
  background-color: gray;
}

img {
  width: 200px;
  height: auto;
}